html, body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    padding: 0 10px;
    background-color: #1D1075;
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 18px;
}

header {
    text-align: center;
}

header p {
    font-style: italic;
    margin-top: 0;
}

h1 {
    margin: 0.2em;
    font-size: 3em;
    line-height: 1;
}

main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

section {
    display: flex;
    max-width: 720px;
    flex-direction: column;
    align-content: center;
}

input {
    font-family: inherit;
    font-size: inherit;
}

button {
    margin: auto;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    line-height: 2;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #fff;
}

a:hover, a:focus {
    text-decoration: none;
}


#urllist {
    color: #969696;
    /* border: 1px solid #dcdcdc; */
    border-radius: 2px;
}

input[type="text"] {
    padding: 10px;
    margin: 1em 0;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    min-width: 200px;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
